import {
  createI18nSetup,
  LanguageCodes,
} from '@digitaldefiance/i18n-lib';
import { createSuiteCoreComponentPackage } from '@digitaldefiance/suite-core-lib';
import { AppConstants } from './constants';
import { {{WorkspaceName}}StringKey } from './enumerations/{{workspaceName}}-string-key';
import { Strings } from './strings-collection';

export const ComponentId = '{{WorkspaceName}}';

const setup = createI18nSetup({
  componentId: ComponentId,
  stringKeyEnum: {{WorkspaceName}}StringKey,
  strings: {
    [LanguageCodes.EN_US]: Strings[LanguageCodes.EN_US],
    [LanguageCodes.EN_GB]: Strings[LanguageCodes.EN_GB],
    [LanguageCodes.FR]: Strings[LanguageCodes.FR],
    [LanguageCodes.ES]: Strings[LanguageCodes.ES],
    [LanguageCodes.DE]: Strings[LanguageCodes.DE],
    [LanguageCodes.ZH_CN]: Strings[LanguageCodes.ZH_CN],
    [LanguageCodes.JA]: Strings[LanguageCodes.JA],
    [LanguageCodes.UK]: Strings[LanguageCodes.UK],
  },
  aliases: ['{{WorkspaceName}}StringKey'],
  constants: AppConstants,
  libraryComponents: [createSuiteCoreComponentPackage()],
});

export const i18nEngine = setup.engine;
export const i18nContext = setup.context;
export const translate = setup.translate;
export const safeTranslate = setup.safeTranslate;
