import { LanguageCodes } from '@digitaldefiance/i18n-lib';
import { StringName } from './enumerations/string-name';

export const Strings = {
  [LanguageCodes.EN_US]: {
    [StringName.SiteTitle]: 'Your Site Title',
    [StringName.SiteDescription]: 'Your description here',
    [StringName.SiteTagline]: 'Your tagline here',
  },
};
