import { LanguageCodes, type BrandedMasterStringsCollection, type CoreLanguageCode } from '@digitaldefiance/i18n-lib';
import { {{WorkspaceName}}StringKey } from './enumerations/{{workspaceName}}-string-key';

/**
 * Master strings collection for the {{WorkspaceName}} component.
 *
 * This collection provides translations for all supported languages.
 * Uses `BrandedMasterStringsCollection` for type-safe branded enum support.
 */
export const Strings: BrandedMasterStringsCollection<typeof {{WorkspaceName}}StringKey, CoreLanguageCode> = {
  [LanguageCodes.EN_US]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleEnUs}}',
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionEnUs}}',
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineEnUs}}',
  },
  [LanguageCodes.EN_GB]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleEnGb}}',
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionEnGb}}',
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineEnGb}}',
  },
  [LanguageCodes.FR]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleFr}}', {{#needsTranslationFr}}// TODO: translate{{/needsTranslationFr}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionFr}}', {{#needsTranslationFr}}// TODO: translate{{/needsTranslationFr}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineFr}}', {{#needsTranslationFr}}// TODO: translate{{/needsTranslationFr}}
  },
  [LanguageCodes.ES]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleEs}}', {{#needsTranslationEs}}// TODO: translate{{/needsTranslationEs}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionEs}}', {{#needsTranslationEs}}// TODO: translate{{/needsTranslationEs}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineEs}}', {{#needsTranslationEs}}// TODO: translate{{/needsTranslationEs}}
  },
  [LanguageCodes.DE]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleDe}}', {{#needsTranslationDe}}// TODO: translate{{/needsTranslationDe}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionDe}}', {{#needsTranslationDe}}// TODO: translate{{/needsTranslationDe}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineDe}}', {{#needsTranslationDe}}// TODO: translate{{/needsTranslationDe}}
  },
  [LanguageCodes.ZH_CN]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleZhCn}}', {{#needsTranslationZhCn}}// TODO: translate{{/needsTranslationZhCn}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionZhCn}}', {{#needsTranslationZhCn}}// TODO: translate{{/needsTranslationZhCn}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineZhCn}}', {{#needsTranslationZhCn}}// TODO: translate{{/needsTranslationZhCn}}
  },
  [LanguageCodes.JA]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleJa}}', {{#needsTranslationJa}}// TODO: translate{{/needsTranslationJa}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionJa}}', {{#needsTranslationJa}}// TODO: translate{{/needsTranslationJa}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineJa}}', {{#needsTranslationJa}}// TODO: translate{{/needsTranslationJa}}
  },
  [LanguageCodes.UK]: {
    [{{WorkspaceName}}StringKey.SiteTitle]: '{{siteTitleUk}}', {{#needsTranslationUk}}// TODO: translate{{/needsTranslationUk}}
    [{{WorkspaceName}}StringKey.SiteDescription]: '{{siteDescriptionUk}}', {{#needsTranslationUk}}// TODO: translate{{/needsTranslationUk}}
    [{{WorkspaceName}}StringKey.SiteTagline]: '{{siteTaglineUk}}', {{#needsTranslationUk}}// TODO: translate{{/needsTranslationUk}}
  },
};
