{
  "name": "{{workspaceName}} - Node.js",
  "image": "mcr.microsoft.com/devcontainers/javascript-node:20",
  "customizations": {
    "vscode": {
      "extensions": [
          "github.vscode-github-actions",
          "ms-azuretools.vscode-docker",
          "esbenp.prettier-vscode",
          "ms-vscode-remote.remote-containers",
          "firsttris.vscode-jest-runner",
          "ms-playwright.playwright",
          "nrwl.angular-console",
          "GitHub.copilot",
          "GitHub.copilot-chat",
          "bruno-api-client.bruno"
      ]
    }
  },
  "hostRequirements": {
    "memory": "16gb",
    "cpus": 4
  },
  "runArgs": [
    "--memory=16g",
    "--memory-swap=16g",
    "--cpus=4"
  ],
  "forwardPorts": [3000],
  "postCreateCommand": "yarn install"
}
