import { IConstants } from './interfaces/constants';
import { createExpressConstants } from '@digitaldefiance/node-express-suite';

export const Constants: IConstants = {
  ...createExpressConstants('{{hostname}}', '{{hostname}}'),
  Site: '{{siteTitle}}' as const,
  SiteTagline: '{{siteTagline}}' as const,
  SiteDescription: '{{siteDescription}}' as const,
  PasswordRegex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?])[A-Za-z\d!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{8,}$/,
};
