MONGO_URI=mongodb://admin:{{password}}@db:27017/{{workspaceName}}?authSource=admin&directConnection=true
JWT_SECRET={{jwtSecret}}
API_DIST_DIR=/workspaces/{{workspaceName}}/dist/{{prefix}}-api
REACT_DIST_DIR=/workspaces/{{workspaceName}}/dist/{{prefix}}-react
DEBUG=true
DETAILED_DEBUG=true
MNEMONIC_ENCRYPTION_KEY={{mnemonicEncryptionKey}}
MNEMONIC_HMAC_SECRET={{mnemonicHmacSecret}}
MONGO_USE_TRANSACTIONS=false
