{
  "name": "{{workspaceName}} - Node.js & MongoDB",
  "dockerComposeFile": "docker-compose.yml",
  "service": "app",
  "workspaceFolder": "/workspaces/${localWorkspaceFolderBasename}",
  "customizations": {
    "vscode": {
      "extensions": [
        "mongodb.mongodb-vscode",
        "dbaeumer.vscode-eslint",
        "esbenp.prettier-vscode",
        "firsttris.vscode-jest-runner",
        "nrwl.angular-console"
      ]
    }
  },
  "hostRequirements": {
    "memory": "16gb",
    "cpus": 4
  },
  "runArgs": [
    "--memory=12g",
    "--memory-swap=16g",
    "--cpus=4"
  ],
  "forwardPorts": [3000, 27017],
  "postCreateCommand": "yarn install"
}
